

 <!-- Blog page header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="columns is-centered">
      <div class="column is-8 ">
    
        <div class="box">
          <article class="media">
            
            <figure class="media-left">
              <p class="image is-96x96">
               {% thumbimage post.data.coverImage , post.data.coverImageAlt %} 
               {# {% image "images/ISL6259.png", "ISL6259 avec toutes ces entrées-sorties" %} #}
              </p>
            </figure>
            <div class="media-content">
              <div class="content  is-hoverable">
                <a href="{{ post.url | url }}">
                  <H4 class="has-text-primary"> {{ post.data.title }}</H3>
                    <p class="has-text-grey-dark">
                    {{ post.data.subtitle | truncate(145) }}
                    <p>
                  <p class="has-text-weight-semibold has-text-grey ">{{ post.date | readablePostDate }}</p>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>