        <div class="column is-3">
          <article>
            <figure class="image is-5by3">
              <img src="https://i.ibb.co/fq8hSGQ/placeholder-image-368x246.png" />
            </figure>
            <h2 class="subtitle">{{ item.subtitle }}</h2>
            <span class="tag is-rounded">{{ item.tag }}</span>
          </article>
        </div>