

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WQ8N9Z5');</script>
<!-- End Google Tag Manager -->

  <!-- Basic Page Needs
  ––––––––––––––––––––––––––––––––––––––––––––––––––
-->

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    <meta name="twitter:url" content="{{site.baseURL}}{{page.url}}">

    <!--Schema-->
    <meta charset="utf-8">
    <link rel="author" href="{{site.baseURL}}">
    <link rel="publisher" href="{{site.baseURL}}">
        
    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{site.baseURL}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="fr_FR">
    <meta property="article:author" content="{{site.baseURL}}">
    <meta property="og:image" content="{{ site.baseURL }}/{{ coverImage }}"/>

{% set isPost = layout == 'layouts/post.njk' %}

<script type="application/ld+json">
 {%- if isPost -%}
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "@id": "{{ site.baseURL }}/{{ page.fileSlug }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.baseURL }}/{{ page.fileSlug }}"
    },
    "url": "{{ site.baseURL }}",
    "headline": "{{ subtitle }}",
    "description": "{{ title }}",
    "audience": "intéressé par l'électronique et la réparation",
    "image": {
      "@type": "ImageObject",
      "url": "{{ site.baseURL }}/{{ coverImage }}",
      "height": 675,
      "width": 1200
    },

    "dateCreated": "{{ date }}",
    "datePublished": "{{ date }}",
    "dateModified": "{{ date }}",
    "inLanguage": "fr-FR",
    "articleSection": "Blog",
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.img }}avronixsmallsquare-495x400.jpg",
        "height": 495,
        "width": 400
      },
      "url": "{{ site.baseURL }}"
    },
    "publisher": {
        "@type": "Organization",
        "@id": "{{ site.baseURL }}",
        "name": "{{ site.title }}",
        "url": "{{ site.baseURL }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.img }}Logo-6337-dark.png",
          "height": 96,
          "width": 127
        }
    }

    {%- else -%}
    
    
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ title }}",
    "description": "{{ description }}",
    "publisher": {
        "@type": "LocalBusiness",
        "name": "{{ title }}"
    }
}
{%- endif -%}
    
  }
</script>


    

   <!-- PREVENT INDEXING
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="robots" content="index, follow"/>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- navbar JS 
  <script type="text/javascript" src="../js/navbarmanagement.js" defer="defer"></script> -->
  <!-- Contact page JS 
  <script type="text/javascript" src="../js/contactform.js" defer="defer"></script>
  -->

  {% if jsfile %}
      {% for script in jsfile %}
          <script type="text/javascript" src="{{script}}" defer></script>
      {% endfor %}
  {% endif %}

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% eleventyGoogleFonts 'https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap' %}
  {# <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> #}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/faq.css">
  <link rel="stylesheet" href="../css/all.css" > <!--load fontawesome icons -->
  <!-- Bulma CSS
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">  -->
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/Logo-6337-dark.png">

