  <footer class="footer">
    <div class="content has-text-centered">
      <p class="has-text-centered	">
      © Copyright 2021 - <strong>6337 - Réparation Macbook</strong> - Point The Gap SAS - <a href="../cgv-cgu/">Mentions légales - CGV & CGU</a>
      </p>
      <a href="https://www.facebook.com/6337.fr/"><span class="icon is-small"><i class="fab fa-facebook-f"></i></span></a>
      <a href="https://twitter.com/6337mac?lang=fr"><span class="icon is-small"><i class="fab fa-twitter"></i></span></a>
      <a href="https://www.google.com/search?gs_ssp=eJzj4tVP1zc0TCswTUrOLjYwYLRSNagwMU8zSU2yMDZMSU62SEoytzKoSLI0NEk1TbZMsjQxNLa0TPZiMTM2NgcAB6oQWw&q=6337&oq=6337&aqs=chrome.2.69i60j69i59j46i175i199j0l2j69i60j69i61l2.3461j0j9&sourceid=chrome&ie=UTF-8#lrd=0x47f4eb831dcc8bb7:0xb914e5c9b941399c,1,,,"><span class="icon is-small"><i class="fab fa-google"></i></span></a>
      <a href="https://www.instagram.com/6337atelier/"><span class="icon is-small"><i class="fab fa-instagram"></i></span></a>
    </div>
  </footer>