<!-- Basic Page Needs
  ––––––––––––––––––––––––––––––––––––––––––––––––––
-->

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{site.twitter}}">
    <meta name="twitter:creator" content="@{{site.twitter}}">
    <meta name="twitter:url" content="{{site.url}}{{page.url}}">

    <!--Schema-->
    <link rel="author" href="{{site.url}}">
    <link rel="publisher" href="{{site.author}}">
        
    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="fr_FR">
    <meta property="article:author" content="{{site.author}}">
    {% if coverImage %}
    <meta property="og:image" content="{{ site.url}}/{{coverImage or site.header_image}}" />
    {% else %}
    <meta property="og:image" content="{{site.header_image}}" />
    {% endif %}


{% set isPost = layout == 'layouts/post.njk' %}



{# <script type="application/ld+json">
 {%- if isPost -%}
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "@id": "{{ metadata.baseURL }}/{{ page.fileSlug }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ metadata.baseURL }}/{{ page.fileSlug }}"
    },
    "url": "{{ metadata.baseURL }}",
    "headline": "{{ subtitle }}",
    "description": "{{ title }}",
    "audience": "intéressé par l'électronique et la réparation",
    "image": {
      "@type": "ImageObject",
      "url": "{{ metadata.baseURL }}/{{ coverImage }}",
      "height": 675,
      "width": 1200
    },

    "dateCreated": "{{ date }}",
    "datePublished": "{{ date }}",
    "dateModified": "{{ date }}",
    "inLanguage": "fr-FR",
    "articleSection": "Blog",
    "author": {
      "@type": "Person",
      "name": "{{ metadata.author }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ metadata.img }}avronixsmallsquare-495x400.jpg",
        "height": 495,
        "width": 400
      },
      "url": "{{ metadata.baseURL }}"
    },
    "publisher": {
        "@type": "Organization",
        "@id": "{{ metadata.baseURL }}",
        "name": "{{ metadata.title }}",
        "url": "{{ metadata.baseURL }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ metadata.img }}Logo-6337-dark.png",
          "height": 96,
          "width": 127
        }
    }

    {%- else -%}
    
    
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ title }}",
    "description": "{{ description }}",
    "publisher": {
        "@type": "LocalBusiness",
        "name": "{{ title }}"
    }
}
{%- endif -%}
    
  }
</script> #}


    
{% block metarobot %}
   <!--  ROBOT INDEXING STATUS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="robots" content="index, follow"/>
{% endblock %}

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- navbar JS 
  <script type="text/javascript" src="../js/navbarmanagement.js" defer="defer"></script> -->
  <!-- Contact page JS 
  <script type="text/javascript" src="../js/contactform.js" defer="defer"></script>
  -->

  {% if jsfile %}
      {% for script in jsfile %}
          <script type="text/javascript" src="{{ script }}" defer></script>
      {% endfor %}
  {% endif %}

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {# {% eleventyGoogleFonts 'https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap' %} #}
  {# <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet" type="text/css"> #}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 
  <link rel="stylesheet" href="{{ relative_path }}../css/normalize.css">
  <link rel="stylesheet" href="{{ relative_path }}../css/home.css">
  <link rel="stylesheet" href="{{ relative_path }}../css/faq.css">
  <link rel="stylesheet" href="{{ relative_path }}../css/all.css" > <!--load fontawesome icons -->
  <!-- Bulma CSS
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">  -->
  <link rel="stylesheet" href="{{ relative_path }}../css/styles.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ relative_path }}../images/Logo-6337-dark.png">

