 {% extends "layouts/base.njk" %} 
 
 {% block content %}
 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <p class="title">
            A propos de 6337
        </p>
        <p class="subtitle">
            63% d'étain et 37% de plomb, notre alliage préféré
        </p>
        </div>
    </div>
  </section>

  <!---- Manifeste content -->
    
    <div class="section manifest">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-4 is-two-thirds-mobile is-offset-2-mobile">                 
                    <img src="/images/MBPRetina-open-2-495x400.jpg" alt="Macbook Pro Retina extraction de la carte-mère">                
                </div>
                <div class="column is-6"> 
                    <div class="content">
                    
                        <H1> Notre manifeste</H1>
                        <ul>
                            <li><strong>Reprendre le contrôle :</strong> Nous croyons en <strong>la réparation comme moyen de reprendre le contrôle</strong> sur nos objets. Que vous la fassiez vous-même ou que vous la fassiez faire, nous encourageons la réparation pour le pouvoir qu'elle nous (re)donne.</li>
                            <li><strong>Partager :</strong> Nous croyons au <strong>partage du savoir et de l’information.</strong> Elle est clé dans les avancées sur la réparation et l’allongement de la durée de vie de nos objets. Nous aimons partager notre expérience, notre savoir, nos pratiques, que ce soit avec d'autres professionnels ou avec des amateurs.</li>
                            <li><strong>Inventer :</strong> Nous pensons qu’allonger la durée de vie d’un objet est une bonne chose, et tous les moyens sont bons pour y arriver. <strong>Nous ne naviguons pas sur les sentiers balisés des constructeurs.</strong> Nous tâchons avant tout de trouver des solutions par des moyens classiques ou détournés.</li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section alex">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-6"> 
                    <div class="content">
                    
                        <H1>Alex : Réparateur en chef</H1>
                        <p>
                        6337 c’est l’histoire d’Alex, bidouilleur depuis son plus jeune âge, et ingénieur en électronique depuis plusieurs années. Le monde et le marché de l’électronique n’ont pas de secrets pour lui.
                        C’est un simple retour aux sources, pour Alex: Ouvrir et réparer des Macs ou autres objets électroniques prenait de plus en plus de son temps libre. Aujourd’hui, c’est devenu son boulot à plein temps.
                        </p> 
                    </div>
                </div>
                <div class="column is-4 is-two-thirds-mobile is-offset-2-mobile">                 
                    {# <img src="/images/avronixsmallsquare-495x400.jpg" alt="Macbook Pro Retina extraction de la carte-mère"> #}
                    {% image "images/avronixsmallsquare-495x400.jpg", "Alexandre AVRON - fondateur de 6337 réparation Mac" %}             
                </div>
            </div>
        </div>
    </div>
{% endblock %}
