---
layout: layouts/base.njk
eleventyComputed:
  meta:
    title: About
    description: About
    breadcrumbs:
      - name: About
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
---
 
 {% block content %}
 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <H1 class="title">
            {{ meta.title }}
        </H1>
        <H2 class="subtitle">
            Anim laborum consectetur deserunt enim nisi dolor commodo deserunt nisi nisi.
        </H2>
        </div>
    </div>
  </section>

  <!---- Manifeste content -->
    
    <div class="section manifest">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-4 is-two-thirds-mobile is-offset-2-mobile">                 
                    {% image "images/MBPRetina-open-2-495x400.jpg", "Macbook Pro Retina extraction de la carte-mère" %}              
                </div>
                <div class="column is-6"> 
                    <div class="content">
                    
                        <h3 class="title is-3">Notre manifeste</h3>
                        <ul>
                            <li><strong>Reprendre le contrôle :</strong> Nous croyons en <strong>la réparation comme moyen de reprendre le contrôle</strong> sur nos objets. Que vous la fassiez vous-même ou que vous la fassiez faire, nous encourageons la réparation pour le pouvoir qu'elle nous (re)donne.</li>
                            <li><strong>Partager :</strong> Nous croyons au <strong>partage du savoir et de l’information.</strong> Elle est clé dans les avancées sur la réparation et l’allongement de la durée de vie de nos objets. Nous aimons partager notre expérience, notre savoir, nos pratiques, que ce soit avec d'autres professionnels ou avec des amateurs.</li>
                            <li><strong>Inventer :</strong> Nous pensons qu’allonger la durée de vie d’un objet est une bonne chose, et tous les moyens sont bons pour y arriver. <strong>Nous ne naviguons pas sur les sentiers balisés des constructeurs.</strong> Nous tâchons avant tout de trouver des solutions par des moyens classiques ou détournés.</li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section alex">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-6"> 
                    <div class="content">
                    
                        <h3 class="title is-3">Alex : Eu enim pariatur dolor aliquip.</h3>
                        <p>
                        Ut officia labore ipsum qui eu fugiat nostrud nisi eu mollit voluptate commodo duis. Mollit dolore excepteur non adipisicing. Ipsum elit fugiat minim consectetur enim irure. Duis occaecat anim magna ullamco mollit cupidatat.
                        In ullamco est ex aliqua excepteur ea eu excepteur nulla eu tempor velit consequat. Aliquip occaecat eiusmod reprehenderit labore nulla id ad anim nisi in. Eiusmod sit anim enim deserunt elit aliquip elit magna. Exercitation aliqua qui culpa veniam ullamco ipsum aliquip irure ullamco proident aute ut sit mollit. Officia non magna dolor pariatur consectetur amet do magna sint. Ut nostrud incididunt elit eiusmod ad. Incididunt proident laboris exercitation aute.
                        Est nulla sit ex sint dolor velit eu dolor. Magna ad labore enim proident fugiat. Ad aute Lorem ipsum ex in commodo incididunt esse nulla est laboris excepteur velit. Et elit magna nulla voluptate do nisi ea. In occaecat fugiat exercitation veniam Lorem consequat ad. Sint quis cupidatat sint est excepteur occaecat nulla incididunt deserunt culpa. Labore pariatur laboris commodo magna aliquip ipsum laboris ex nostrud.
                        </p> 
                    </div>
                </div>
                <div class="column is-4 is-two-thirds-mobile is-offset-2-mobile">                 
                    {# <img src="/images/avronixsmallsquare-495x400.jpg" alt="Macbook Pro Retina extraction de la carte-mère"> #}
                    {% image "images/avronixsmallsquare-495x400.jpg", "Alexandre AVRON - fondateur de 6337 réparation Mac" %}             
                </div>
            </div>
        </div>
    </div>
{% endblock %}
