---
layout: layouts/base.njk
eleventyComputed:
  meta:
    title: Tous les avis de nos clients
    description: Liste mis-à-jour régulièrement de tous les avis laissés par clients sur Google
    breadcrumbs:
      - name: Accueil
        url: "{{ site.url }}"
        position: 1
        image: "{{ site.url  + '/' +  site.header_image }}"
      - name: Les Avis
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
---



{% block content %}

<!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <H1 class="title">
            {{ meta.title }}
        </H1>
        <H2 class="subtitle">
            Sans exception, sans filtre !
        </H2 >
        </div>
    </div>
  </section>

<!---- Testimonials -->
<div class="container">
  <div class="columns is-multiline is-mobile is-centered">


{# looping by batch of 3 testimonials - for each slide-entry #}
{%- for items in reviews_gmb.reviews | batch(8)  %}
    
        <div class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet is-four-fifths-mobile">

{# looping each testimonial from the list #}
{%- for item in items  %}
            {% include "partials/testimonials-all.njk" %}
{%- endfor %}
        </div>
           
           
{%- endfor %}
</div>
    </div>
{% endblock %}


