

  
<!DOCTYPE html>
<html lang="fr">

<head>
  {% include "partials/structure/site-head.njk" %}
  
      {%- block seo -%}

      <title> {{ site.title }}</title>
    <!--Twitter Card-->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ site.description }}">
    
    <!--Schema-->
    <meta itemprop="name" content="{{title}}">
    <meta name="description" content="{{ site.description }}">
    
    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ site.description }}">
    {%- endblock -%}
  
</head>

  <body>
    {% include "partials/structure/site-header.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "partials/structure/site-foot.njk" %}
  </body>
</html>