---
layout: layouts/base.njk
type: page
eleventyComputed:
  meta:
    url: "{{ site.url  +  page.url }}"
    title: "{{ title | safe }}"
    description: "{{ subtitle | safe }}"
    breadcrumbs:
      - name: "{{ title | safe }}"
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
---

{% block content %}
 <!-- Title of the page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="hero is-small">
    <div class="hero-body">
      <h1 class="title is-3 has-text-centered">
      Blog page
      </h1>
      <h2 class="subtitle is-5 has-text-centered">
      This is the subtitle of the blog page. Put extrainfo on your blog here.
      </h2>
    </div>
</section>


{{ content | safe }}
 {% endblock %}







