---
layout: layouts/base.njk
type: page
eleventyComputed:
  meta:
    url: "{{ site.url  +  page.url }}"
    title: "{{ title | safe }}"
    description: "{{ subtitle | safe }}"
    breadcrumbs:
      - name: "{{ title | safe }}"
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
---

{% block content %}
 <!-- Title of the page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="hero is-small">
    <div class="hero-body">
      <h1 class="title is-3 has-text-centered">
      Le blog de 6337
      </h1>
      <h2 class="subtitle is-5 has-text-centered">
      Des infos, nos techniques, nos astuces et quelques indiscrétions sur les Mac et la réparation
      </h2>
    </div>
</section>


{{ content | safe }}
 {% endblock %}







