---
title: "Mentions légales, CGV-CGU, crédits photos"
subtitle: "Mentions légales, conditions générales, d'achat, crédits photos"
layout: layouts/base.njk
type: page
eleventyComputed:
  meta:
    title: "{{ title | safe }}"
    description: "{{ subtitle | safe }}"
    breadcrumbs:
      - name: Conditions Générales
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
---


 {% block content %}


     <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <h1 class="title">
            {{ title }}
        </H1>
        <H2 class="subtitle">
            ...et autres trucs légaux obligatoires.
        </H2>
        </div>
    </div>
  </section>


<div class="columns is-centered">
    <div class="column is-8 ">
        <div class="content">

 {{ content | safe }}
 
        </div>
    </div>
</div>
 {% endblock %}