 {% extends "layouts/base.njk" %} 
 

 {% block content %}


 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <p class="title">
            Vos questions les plus fréquentes
        </p>
        <p class="subtitle">
            ...et leurs réponses, bien sûr.
        </p>
        </div>
    </div>
  </section>

 <!---- FAQ Accordion -->
<section class="section">
	<div class="container">


{% for item in faqlist.items %}
{% include "partials/faq-template.njk"%}
{% endfor %}

	</div>
</section>
 



 {% endblock %}