 {% extends "layouts/base.njk" %} 
 

 {% block content %}


 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <p class="title">
            Vos questions les plus fréquentes
        </p>
        <p class="subtitle">
            ...et leurs réponses, bien sûr.
        </p>
        </div>
    </div>
  </section>

 <!---- FAQ Accordion -->
<section class="section">
	<div class="container">
        <div class="columns is-centered">
            <div class="column is-8 ">


{%- for faq in collections.faq -%}
 {% include "partials/faq-template.njk"%}
{% endfor %}

<!---- FAQ schema -->
<script type="application/ld+json">{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {%- for faq in collections.faq -%}
    {%- if loop.last -%}
        {
        "@type": "Question",
        "name": "{{ faq.data.title }}",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ faq.data.text }}"
        }
        }
        {%- else -%}
        {
      "@type": "Question",
      "name": "{{ faq.data.title }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ faq.data.text }}"
      }
    },
    {% endif %}
    {% endfor %}
  ]
}</script>


            </div>
        </div>
	</div>
</section>
 
 {% endblock %}