---
layout: layouts/base.njk
---

{% block content %}

 <!-- Top section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="hero has-background is-transparent is-halfheight pb-O">

    <div class="hero-body has-text-centered-mobile has-background is-transparent pb-0">
      <div class="container">
        <div class="columns is-centered is-vcentered">
          
          <div class="column is-6 pl-6 is-align-items-center is-align-content-flex-end mb-6">
            <h1 class="title is-1 maintitle">Main Title</h1>
            <h2 class="subtitle is-3">Subtitle, often a good catch phrase</h2>
            <H2 class="subtitle is-3 mb-0">with some more context</H2>
          </div>
          <div class="column is-4">
             <!----- Top Image ------->
            <img src="images/MBP-export.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image & features section
  -------------------------------------------------------->
  <div class="section estimatesection pt-0"> 
    <div class="container ">
      <div class="columns is-centered is-vcentered featuresection">
          <div class="column is-6 pl-6-desktop"> <!--colonne features-->
            <!--features list-->
            {% for item in features.feat %}
            {% include 'partials/home/feature-block.njk' %}
            {% endfor %}
          </div>
          <div class="column is-1">
          </div>
      </div>
    </div>
  </div> 


      <!-- problems section
  -------------------------------------------------------->
   
  <!-- problems image and description
  -------------------------------------------------------->
  <div class="section pt-0">


  <div class="level">
    <div class="level-item">
      <h2 class="subtitle is-3 has-text-weight-semibold">Notre expertise</h2>
    </div>
  </div>

    <div class="columns is-centered">
        <div class="is-two-thirds column pt-0">
    
  <!-- Issues blocks from issues list-->
  <!-- Alternating left right using cycler and cls.next() inwide issues.njk-->

{% set cls = cycler(" ", " is-flex-direction-row-reverse") %}
{% for item in issuelist.issue %}
{% include 'partials/home/issues.njk' %}
{% endfor %}

        </div>
    </div>
  </div>

  <!-- Steps & Google Reviews
  -------------------------------------------------------->
  <div class="level">
    <div class="level-item">
      <h2 class="subtitle is-3 has-text-weight-semibold">Comment ça se passe</h2>
    </div>
  </div>
  
  <div class="columns is-centered">

{% for item in steps.step %}
{% include "partials/home/step-block.njk"%}
{% endfor %}

  </div>



 {% endblock %}
