---
layout: layouts/base.njk
---


{# {% extends "layouts/base.njk" %} #}

{% set cattitle = ['premiers pas','compatibilité','réparation','soudure'] %}
{% set catsubtitle = ['Les basiques de la réparation, premières étapes ou essentiels.','Tableaux et gammes de compatibilité de pièces entre différents modèles.','Le vif du sujet: démonter, diagnostiquer, tester et valider','Explications sur les techniques, méthodes et outils de soudure. Le summum.'] %}

 {% block content %}
 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <H1 class="title">
            {{ meta.title }}
        </H1>
        <H2 class="subtitle">
            {{ meta.description }}
        </H2>
        </div>
    </div>
  </section>

   <!---- Cards content -->

<section>
   <div class="container is-max-desktop">
    <section class="featured">
      
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle">Catégories</h2>
          </div>
        </div>
      </div>
      
      <div class="columns is-mobile is-centered is-multiline">
          <!-- Single Card template -->
        {% for i in range(0,4) -%}
          <div class="column is-3-tablet is-half-mobile pb-6 mx-3-is-mobile">
            <a href="/kb/categories/{{cattitle[i]}}/">
              <article>
                <figure class="image is-5by3">
                  <img src="https://i.ibb.co/fq8hSGQ/placeholder-image-368x246.png" />
                </figure>
                <h2 class="title is-5 has-text-primary mb-1">{{ cattitle[i] | capitalize }}</h2>
                <p class="has-text-grey-dark">
                  {{ catsubtitle[i] | capitalize }}
                <p>
              </article>
            </a>
          </div>
        {% endfor %}
         <!-- End single card template -->
      </div>


    </section>
    <section class="categories">

  

      <div class="columns is-multiline">

      {% for i in range(0,4) -%}

          <!-- Single Columns article list template -->
        <div class="column is-6">
          <div class="category">
            <H3 class="subtitle is-5 has-text-primary mb-1">
              {{ cattitle[i] | capitalize }}: <span>{{ collections[cattitle[i]] | length }} articles</span>
            </H3>
            <hr class="my-1">
            <ul>
              {% for post in collections[cattitle[i]]   %}
               {% if loop.index0 < 5 %}
                  <li>
                    <a href="{{ post.data.page.url }}">
                      <h4 class="has-text-grey-dark"
                      <i class="fas fa-caret-right fa-xs icon-padding-right" /></i>
                      {{ post.data.title }}
                      </h4>
                    </a>
                  </li>
                {% else %}
                {% endif %}
              {% endfor %}
            </ul>
              <a href="/kb/categories/{{cattitle[i]}}/">
                <h3 class="category-more">View All <i class="far fa-arrow-right icon-padding-left"></i></h3>
              </a>
          </div>
        </div>
        {%- endfor %}
        <!-- End of single column article list template -->
{# 
          <!-- Single Columns article list template -->
        <div class="column is-6">
          <div class="category">
            <a href="/categories/compatibilite/">
            <h1 class="title is-5">
              {{ kbdata.kbfeature.card[1].subtitle }} <span>{{ collections['compatibilité'] | length }} articles</span>
            </h1>
            </a>
            <hr />
            <ul>
              {% for post in collections['compatibilité']   %}
               {% if loop.index0 < 5 %}
                  <li>
                    <a href="{{ post.data.page.url }}">
                      <i class="fas fa-caret-right fa-xs icon-padding-right" /></i>
                      {{ post.data.title }}
                    </a>
                  </li>
                {% else %}
                {% endif %}
              {% endfor %}
            </ul>
              <a href="/categories/compatibilite/">
                <h3 class="category-more">View All <i class="far fa-arrow-right icon-padding-left"></i></h3>
              </a>
          </div>
        </div>
         <!-- End of single column article list template -->
          <!-- Single Columns article list template -->
        <div class="column is-6">
          <div class="category">
            <a href="/categories/réparation/">
            <h1 class="title is-5">
              {{ kbdata.kbfeature.card[0].subtitle }} <span>{{ collections['réparation'] | length }} articles</span>
            </h1>
            </a>
            <hr />
            <ul>
              {% for post in collections['réparation']   %}
               {% if loop.index0 < 5 %}
                  <li>
                    <a href="{{ post.data.page.url }}">
                      <i class="fas fa-caret-right fa-xs icon-padding-right" /></i>
                      {{ post.data.title }}
                    </a>
                  </li>
                {% else %}
                {% endif %}
              {% endfor %}
            </ul>
              <a href="/categories/premiers_pas/">
                <h3 class="category-more">View All <i class="far fa-arrow-right icon-padding-left"></i></h3>
              </a>
          </div>
        </div>
        <!-- End of single column article list template -->
          <!-- Single Columns article list template -->
        <div class="column is-6">
          <div class="category">
            <a href="/categories/premiers_pas/">
            <h1 class="title is-5">
              {{ kbdata.kbfeature.card[0].subtitle }} <span>{{ collections['premiers pas'] | length }} articles</span>
            </h1>
            </a>
            <hr />
            <ul>
              {% for post in collections['premiers pas']   %}
               {% if loop.index0 < 5 %}
                  <li>
                    <a href="{{ post.data.page.url }}">
                      <i class="fas fa-caret-right fa-xs icon-padding-right" /></i>
                      {{ post.data.title }}
                    </a>
                  </li>
                {% else %}
                {% endif %}
              {% endfor %}
            </ul>
              <a href="/categories/premiers_pas/">
                <h3 class="category-more">View All <i class="far fa-arrow-right icon-padding-left"></i></h3>
              </a>
          </div>
        </div>
        <!-- End of single column article list template --> #}
      </div>
    </section>


    {% endblock %}