---
jsfile: ["../js/navbarmanagement.js"]
---


{% extends "layouts/base.njk" %}




{% block content %}

  <div class="columns is-centered">
    <div class="column is-8">
      <article>
        <div class="section">
          
                <div class="columns is-centered">
                    <div class="column is-three-quarter">
                        <div class="block">
                            <h1 class="title is-3 has-text-centered">{{ title }}</h1>
                            <H2 class="subtitle is-4 has-text-centered">{{ subtitle }}</H2>
                        </div>
                    </div>
                </div>

                <div class="columns is-centered cotent">
                  <div class="column is-four-fifths">
                    {% image coverImage, coverImageAlt %}
                  </div>
                </div>

            <div class='content'>

            {{ content | safe }}

            </div>


      </div>
      </article>
        <!-- Comment Box Snippet for test -->
          <aside id="comment-sidecar"></aside>
          <script type="text/javascript">
              (function() {
                  const scriptNode = document.createElement('script');
                  scriptNode.type = 'text/javascript';
                  scriptNode.async = true;
                  scriptNode.src = '../comment-sidecar/comment-sidecar-js-delivery.php'; // adjust to the correct path
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(scriptNode);
              })();
          </script>


        </div>
        </div>



<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "@id": "{{ site.baseURL }}/{{ page.fileSlug }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.baseURL }}/{{ page.fileSlug }}"
    },
    "url": "{{ site.baseURL }}",
    "headline": "{{ subtitle }}",
    "description": "{{ title }}",
    "audience": "interresé par l'électronique et la réparation",
    "image": {
      "@type": "ImageObject",
      "url": "{{ coverImage }}",
      "height": 675,
      "width": 1200
    },
    "dateCreated": "{{ date }}",
    "datePublished": "{{ date }}",
    "dateModified": "{{ date }}",
    "inLanguage": "fr-FR",
    "articleSection": "Blog",
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.img }}avronixsmallsquare-495x400.jpg",
        "height": 495,
        "width": 400
      },
      "url": "{{ site.baseURL }}"
    },
    "publisher": {
        "@type": "Organization",
        "@id": "{{ site.baseURL }}",
        "name": "{{ site.title }}",
        "url": "{{ site.baseURL }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.img }}Logo-6337-dark.png",
          "height": 96,
          "width": 127
        }
    }
  }
</script>

{% endblock %}