---
layout: layouts/base.njk
jsfile: ["../../js/navbarmanagement.js"]
type: post
eleventyComputed:
  meta:
    url: "{{ site.url  +  page.url }}"
    title: "{{ title | safe }}"
    description: "{{ subtitle | safe }}"
    image:
      src: "{{ site.url  + '/' +  coverImage }}"
    author:
      name: Alex AVRON
      url: https://www.linkedin.com/in/alexavron/
    published: "{{ date | iso8601 }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
    breadcrumbs:
      - name: Blog
        url: "{{ site.url  +  page.url }}"
        position: 2
        image: "{{ site.url  + '/' +  site.header_image }}"
      - name: "{{ title | safe }}"
        url: "{{ site.url }}  + '/blog/'"
        position: 3
        image: "{{ site.url  + '/' +  site.header_image }}" 
---


{% block content %}

  <div class="columns is-centered">
    <div class="column is-8">
      <article>
        <div class="section">
          
                <div class="columns is-centered">
                    <div class="column is-three-quarter">
                        <div class="block">
                            <h1 class="title is-3 has-text-centered">{{ title }}</h1>
                            <H2 class="subtitle is-4 has-text-centered">{{ subtitle }}</H2>
                        </div>
                    </div>
                </div>

                <div class="columns is-centered">
                  <div class="column is-four-fifths has-text-centered">
                    {% image coverImage, coverImageAlt %}
                  </div>
                </div>

            <div class='content'>

            {{ content | safe }}

            </div>


      </div>
      </article>

        <!-- Comment Box Snippet -->
          <aside id="comment-sidecar"></aside>
          <script type="text/javascript">
              (function() {
                  const scriptNode = document.createElement('script');
                  scriptNode.type = 'text/javascript';
                  scriptNode.async = true;
                  scriptNode.src = "../../comment-sidecar/comment-sidecar-js-delivery.php"; // adjust to the correct path
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(scriptNode);
              })();
          </script>
        <!-- End of Comment Box Snippet -->


        </div>
        </div>


{% endblock %}