 {% extends "layouts/base.njk" %} 
 
 {% block content %}
 <!---- Page title-->
  <section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered is-primary">
        <p class="title">
            Faire réparer mon Mac
        </p>
        <p class="subtitle">
            Répondez à ce quelques questions, on se charge du reste.
        </p>
        </div>
    </div>
  </section>

  <!------------------------------------------ Multi-step contact Form ------------------------>
    
   <section class="hero is-large pb-6">
      <div class="columns is-centered">
          
          <!-- FORM -->
          <div class="column is-half-desktop is-8 "> 
            
            <div class="box mb-1 has-background-primary">
              <h2 class="subtitle is-size-4 has-text-centered has-text-weight-bold has-text-white"> Prise en charge</h2>
            </div>
            <div class="box has-background-primary-light">
              
            
               <!----------------- Model selection ---------------->
               

               <form>
                 <!------ first step MODEL------>
               <div class="buttontab" id="step1">
                  <h2 class="subtitle has-text-centered mb-3 has-text-weight-bold">Modèle</h2>

                 
                  <div class="buttons is-flex-direction-column is-centered">
                    <button type="button" id="mba" class="button is-primary  is-outlined is-medium my-4 button-model">MacBook Air</button>
                    <button type="button" id="mbp" class="button is-primary  is-outlined  is-medium my-4 button-model">MacBook Pro</button>
                    <button type="button" id="mb" class="button is-primary  is-outlined  is-medium my-4 button-model">MacBook 12"</button>                  
                  </div>
                
                </div>

               <!------ Step 2 MODEL PRO------>
               <div class="buttontab" id="step2">
                <h2 class="subtitle has-text-centered mb-0 has-text-weight-bold">Modèle</h2>

                <div class="buttons is-flex-direction-column is-centered mb-1">
                  <button type="button" id="mbpu" class="button is-primary is-outlined is-medium my-4 button-model-pro mbp">MacBook Pro Unibody</button>
                  <button type="button" id="mbpr" class="button is-primary is-outlined is-medium my-4 button-model-pro mbp">MacBook Pro Retina</button>
                  <button type="button" id="mbptb" class="button is-primary is-outlined is-medium my-4 button-model-pro mbp">MacBook Pro Touchbar</button>                
                </div>
              </div>
              
                <!------ step3 SCREEN------>
                <div class="buttontab" id="step3">
                  <h2 class="subtitle has-text-centered has-text-weight-bold">Ecran</h2>

                  <div class="buttons is-flex-direction-column is-centered mb-0">
                      <button type="button" id="11p" class="button is-primary is-outlined is-medium my-4 mt-2 mb-2 button-screen mba 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019">11 pouces</button>
                      <button type="button" id="13p" class="button is-primary is-outlined is-medium my-4 button-screen mba mbpu mbpr mbptb 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019">13 pouces</button>
                      <button type="button" id="15p" class="button is-primary is-outlined is-medium my-4 button-screen mbpu mbpr mbptb 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019">15 pouces</button>
                      <button type="button" id="16p" class="button is-primary is-outlined is-medium my-4 button-screen mbptb 2019 2020">16 pouces</button>
                      <button type="button" id="17p" class="button is-primary is-outlined is-medium my-4 button-screen mbpu 2010 2011 2012">17 pouces</button>
                  </div>
                </div>
                

                <!------ Step4 YEAR------>

                <div class="buttontab" id="step4">
                  <h2 class="subtitle has-text-centered mb-3 has-text-weight-bold">Année</h2>
                  <div class="buttons is-centered ">
                    <button type="button" id="2010" class="button is-info is-outlined button-year my-2 is-medium mba mbpu 11p 13p 15p 17p">2010</button>
                    <button type="button" id="2011" class="button is-info is-outlined button-year my-2 is-medium mba mbpu 11p 13p 15p 17p">2011</button>
                    <button type="button" id="2012" class="button is-info is-outlined button-year my-2 is-medium mba mbpu mbpr 11p 13p 15p">2012</button>
                    <button type="button" id="2013" class="button is-info is-outlined button-year my-2 is-medium mba mbpr 11p 13p 15p">2013</button>
                    <button type="button" id="2014" class="button is-info is-outlined button-year my-2 is-medium mba mbpr 11p 13p 15p">2014</button>
                    <button type="button" id="2015" class="button is-info is-outlined button-year my-2 is-medium mba mbpr 11p 13p 15p">2015</button>
                    <button type="button" id="2016" class="button is-info is-outlined button-year my-2 is-medium mba mbptb 13p 15p">2016</button>
                    <button type="button" id="2017" class="button is-info is-outlined button-year my-2 is-medium mba mbptb 13p 15p">2017</button>
                    <button type="button" id="2018" class="button is-info is-outlined button-year my-2 is-medium mba mbptb 13p 15p">2018 </button>
                    <button type="button" id="2019" class="button is-info is-outlined button-year my-2 is-medium mba mbptb 13p 15p 16p">2019</button>
                    <button type="button" id="2020" class="button is-info is-outlined button-year my-2 is-medium mba mbptb 13p 15p 16p">2020</button>
                  </div>
                </div>


            <!------ Step5 PROBLEM------>
            
            <div class="buttontab pb-5" id="step5">           
              <h2 class="subtitle has-text-centered mb-1 has-text-weight-bold">Problème</h2>
                <div class="buttons is-flex-direction-column is-centered">
                  <button type="button" id="nocharge" class="button is-primary is-outlined is-multiline">Batterie qui ne charge pas</button>
                  <button type="button" id="motherboard" class="button is-primary is-outlined is-multiline">Carte-mère H.S</button>
                  <button type="button" id="slow" class="button is-primary is-outlined is-multiline">Lenteurs</button>
                  <button type="button" id="backlight" class="button is-primary is-outlined is-multiline">Problème de rétroéclairage</button>
                  <button type="button" id="fanspeed" class="button is-primary is-outlined">Ventilateurs qui tournent au max</button>
                  <button type="button" id="connector" class="button is-primary is-outlined">Connecteur cassé/arraché</button>
                  <button type="button" id="crashes" class="button is-primary is-outlined">Plantages inopinés</button>
                </div>

            </div>


            <!------ ESTIMATION ------>

            <div class="buttontab" id="step6">
              <div class="columns">
                <div class="column is-one-third">

                  

                    <div class="card">
                        <div class="card-image is-96x96 has-text-centered">
                            <img src="../images/laptop-macbook-pro-svgrepo-com.svg" id="estimateimg" alt="Image"/>
                        </div>

                        <div class="card-content has-text-centered pt-1">
                              <div class="content">
                                  <H4 class="title is-4  has-text-grey-dark" id="mactitle">MacBook Pro Retina</H4>
                                  <h5 class="subtitle is-5  has-text-grey" id="macsubtitle">Ecran 15 pouces - Année 2012</h5>
                                          <p> Forfait réparation carte-mère estimé à:
                                  </p>
                              </div>
                    
                                <div class="level">
                                    <p class="level-item has-text-centered is-size-5 has-text-info has-text-weight-bold" id="amount">
                                        250€ TTC
                                    </p>
                                </div>

                            
                            
                              <p class="level-item">
                                <button class="button is-primary is-outlined is-small" onclick="formReset(); return false">
                                  Recommencer
                                  </button>
                              </p>                          
                        </div>
                    </div>

                  

                </div>

                <div class="column is-two-thirds">
                  <!----------------- Customer details ---------------->
                    <!------ first step MODEL------>
                      <div class="customerDetails" id="step6">
                          <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                  <label class="label" for="name">Nom</label>
                              </div>
                              <div class="field-body">
                                  <div class="field is-expanded">
                                      <p class="control is-expanded has-icons-left has-icons-right">
                                          <input type="text" class="input inputLastNameField" placeholder="Nom" id="inputLastName" />
                                          <span class="icon is-small is-left">
                                              <i class="fas fa-user"></i>
                                          </span>
                                          <span class="icon is-small is-right">
                                            <i id='lastNameCheckIcon' class="fas fa-exclamation-triangle"></i>
                                        </span>
                                      </p>
                                  </div>
                              </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label" for="name">Prénom</label>
                              </div>
                              <div class="field-body">
                                  <div class="field is-expanded">
                                      <p class="control is-expanded has-icons-left has-icons-right">
                                          <input type="text" class="input inputFirstNameField" placeholder="Prénom" id="inputFirstName" />
                                          <span class="icon is-small is-left">
                                              <i class="fas fa-user"></i>
                                          </span>
                                          <span class="icon is-small is-right">
                                            <i id='firstNameCheckIcon' class="fas fa-exclamation-triangle"></i>
                                        </span>
                                      </p>
                                  </div>
                              </div>
                          </div>

                          <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                    <label class="label">E-mail</label>
                            </div>
                                  <div class="field-body">
                                      <div class="field is-expanded mr-0">
                                          <p class="control is-expanded has-icons-left has-icons-right">
                                              <input type="e-mail" placeholder="jean@dupont.fr" class="input inputEmailField" id="inputEmailField">
                                              <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                              </span>
                                              
                                              <span class="icon is-small is-right">
                                                <i  id="emailCheckIcon" class="fas fa-check"></i>
                                              </span>
                                              <p class="help is-danger" id="wrongEmailMessage">Veuillez entrer un email valide</p>
                                          </p>
                                      </div>
                                      
                                  </div>
                              </div>
                          
                          <div class="field is-horizontal">
                            <div class="field-label is-normal">
                              <label class="label">Message</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <div class="control">
                                  <textarea class="textarea" placeholder="Dites-nous comment on peut vous aider !" id="inputMessageField"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                            <div class="field is-horizontal">
                                <div class="field-label">
                                <!-- Left empty for horizontal spacing -->
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <label class="checkbox">
                                                <input class="is-small" type="checkbox">
                                                Je reconnais avoir lu les <a href="../images/CGV.pdf">Conditions d'utilisation</a> de 6337.fr
                                            </label>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label">
                                    <!-- Left empty for horizontal spacing -->
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <button class="button is-primary" id="submitButton" onclick="sendEstimate(); return false">
                                            Demander un devis
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        </div>
                      </div>
                  </div>


                    <div class="buttons mb-0">
                      <button class="button is-ghost  pl-0 pb-0 mb-0 is-justify-content-center is-align-items-center" type="button" id="resetBtn" onclick="formReset()"><i class="fas fa-undo"></i>
                        </button>
                    </div>





            </form>

            <!-- Success Message -->
                <div class="modal" id="successMessage">
                    <div class="modal-background modal-exit"></div>
                        <div class="modal-card">
                          <header class="modal-card-head">
                            <p class="modal-card title is-size-3 has-text-centered has-text-primary-dark">
                                Merci de votre confiance !
                            </p>
                                <button class="modal-close is-large modal-exit" aria-label="close"></button>
                            </header>
                        <section class="modal-card-body">
                          <p class="is-size-5" id="modalmessage">
                            Nous vous remercions d'avoir pris le le temps de nous contacter.<br><br>
                            Vous recevrez bientôt un email de confirmation, avec quelques conseils, dernière étape avant de faire réparer votre Mac !</p>
                        </section>
                        <footer class="modal-card-foot">
                         
                        </footer>
                    </div>
                </div>

          
            </div>
          </div>

          </div>

      

  </section>


{% endblock %}
