---
title: Erreur 404 - Page non-trouvée
permalink: 404.html
jsfile: ["../js/navbarmanagement.js" ]
---


{% extends "layouts/base.njk" %}

  {%- block seo -%}
  {%- endblock -%}

<div class="section">
{%- block content -%}

<div class='columns is-centered'>
  <div class='column is-8'>
    <div class='hero is-info is-medium'>
      <div class='hero-body'>

      <h1 class='title has-text-centered'>{{ title }}</h1>
      <p class='is-size-4 has-text-centered'>Ici, il n'y a rien. Si c'est ce que vous cherchiez, tant mieux.<br><br> Dans le cas contraire, vous pouvez retourner vers notre <br> <a href="{{ '/' | url }}" class="button is-info is-medium is-inverted">page d'acceuil.</a></p>
      
      </div>
    </div>
  </div>
</div>

{%- endblock -%}
</div>
