---
layout: "layouts/blog-layout.njk"
jsfile: ["../js/navbarmanagement.js" ]

---

<div class="section">

<!-- Featured posts are only 5 last posts -->
{% set lastposts = collections.blog | head(-5) %}


  {% include "partials/blog/blog-featured.njk" %}

{% set remainposts = collections.blog | headoff(-5) %}

{%- for post in remainposts | reverse -%}
  {% include "partials/blog/blog-box.njk" %}
{%- endfor -%}

</div>