---js
{
	"eleventyComputed":{
		"title":"{% if pagination.pageNumber == 0 %}Blog Réparation Mac{% else %}Blog Réparation Mac - page {{ pagination.pageNumber + 1 }}{% endif %}",
		"subtitle":"{% if pagination.pageNumber == 0 %}Des infos, nos techniques, nos astuces et quelques indiscrétions sur les Mac et la réparation {% else %}Archives de notre blog sur les Mac et la réparation - page {{ pagination.pageNumber + 1 }}{% endif %}"
	},
	"layout":"layouts/blog-layout.njk",
	"jsfile":[
		"../js/navbarmanagement.js"
	],
	"pagination":{
		"data":"collections.blog",
		"size":5,
		"alias":"remainposts",
		"reverse":true
	},
	"permalink":"./{% if pagination.pageNumber == 0 %}blog/{% else %}blog{{ pagination.pageNumber + 1 }}/{% endif %}",
	"relative_path":""
}
---


<div class="section">

{% for post in remainposts  %}

    <div class="columns is-centered">
      <div class="column is-8 ">
    
        <div class="box">
          <article class="media">
            
            <figure class="media-left">
              <p class="image is-96x96">
               {% thumbimage post.data.coverImage , post.data.coverImageAlt %} 
              </p>
            </figure>
            <div class="media-content">
              <div class="content  is-hoverable">
                <a href="{{ post.url | url }}">
                  <H4 class="has-text-primary"> {{ post.data.title }}</H3>
                    <p class="has-text-grey-dark">
                    {{ post.data.subtitle | truncate(145) }}
                    <p>
                  <p class="has-text-weight-semibold has-text-grey ">{{ post.date | readablePostDate }}</p>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
{%  endfor  %}

</div>






{#
{% if pagination.pageLinks.length > 1 %}
  <div class="pb-6 sm:pb-0">
    <p class="is-size-3">
      Showing
      <span class="">
        {{ (pagination.pageNumber * pagination.size) + 1 }}
      </span>
      to
      <span class="">
        {% if pagination.nextPageLink %}
          {{ (pagination.pageNumber * pagination.size) + pagination.size }}
        {% else %}
          {{ collections.all.length }}
        {% endif %}
      </span>
      of
      <span class="">{{ collections.all.length }}</span>
      results
    </p>
  </div>
{% endif %}
#}

<div class="section">

<nav class="pagination is-right" role="navigation" aria-label="pagination">
  {% if pagination.previousPageLink %}
    <a class="pagination-previous" href="{{ pagination.previousPageHref }}">Précédent</a>
  {% else %}
    <a class="pagination-previous is-disabled">Précédent</a>
  {% endif %}

    {% if pagination.nextPageLink %}
    <a class="pagination-next" href="{{ pagination.nextPageHref}}">Suivant</a>
  {% else %}
    <a class="pagination-next is-disabled">Suivant</a>
  {% endif %}


<ul class="pagination-list">
 {# <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li> #}

    {%- for pageEntry in pagination.pages %}
      <li><a class="pagination-link {% if page.url == pagination.hrefs[ loop.index0 ] %} is-current {% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
    {%- endfor %}

  {# <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li> #}
</ul>

</nav>

</div>