---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [ all, faq, featured, Atelier, blog, non-classe ]
permalink: "./kb/categories/{{ tag }}/"
---


<div class="section">

{%- for post in tag -%}
  {% include "partials/blog/blog-box.njk" %}
{%- endfor -%}

</div>

