
 <!-- Blog page header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="tile is-ancestor">

        <div class="tile is-parent is-6">
          <article class="tile is-child box">
            <p class="title">Test</p>
            <p class="subtitle mb-6 pb-6">test</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Foo</p>
            <p class="subtitle mb-6 pb-6">Bar</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Third column</p>
            <p class="subtitle mb-6 pb-6">With some content</p>
          </article>
        </div>
      </div>
      
      <div class="tile is-ancestor">

        <div class="tile is-vertical is-8">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Wide column</p>
              <p class="subtitle mb-6 pb-6">Aligned with the right column</p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
              <p class="title">Tall column</p>
              <p class="subtitle mb-6 pb-6">With even more content</p>
            </div>
          </article>
        </div>
      </div>
  
