
 <!-- Single FAQ Card
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="card">
			<header class="card-header is-clickable">
				<p class="card-header-title">{{ item.title }}</p>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content">
					{{ item.text }}
				</div>
			</div>
		</div>