<div class="box">
              <div class="feature columns is-centered is-vcentered">
                <div class="column is-one-fifth-tablet is-half-mobile is-offset-one-quarter-mobile">
                  <div class="icon-text is-justify-content-center">
                  <span class="icon is-medium my-4">
                    <i class="fas fa-4x {{ item.icon }}"></i>
                  </span>
                  </div>
                </div>
                <div class="column is-two-thirds-tablet is-10-mobile is-offset-1-mobile">
                  <H4 class="has-text-weight-bold has-text-centered is-uppercase">{{ item.title }}</H4>
                  <p>{{ item.text }}</p>
                </div>
              </div>
            </div>