    <div class="box has-background-primary-light">
      <div class="level mb-1">
        <div class="level-item">
          <H2 class="title is-5 has-text-centered mb-1">{{ item.title }}</H2>
        </div>
      </div>

      <div class="columns is-centered is-vcentered {{ cls.next() }}">
        <div class="column is-one-fifth-desktop is-one-third-tablet is-half-mobile is-offset-one-quarter-mobile">
          <figure class="image">
          <img src="{{ item.image }}">
        </figure>
        </div>
        <div class="column is-two-thirds">
          <h5 class="has-text-justified-mobile">{{ item.text }}</h5>
        </div>
      </div>

      <div class="level">
        <div class="level-item">
        
          <div class="buttons is-centered pt-4">
            <a class="button is-primary is-centered" href="/prise-en-charge/">
              <span class="icon is-medium">
                <i class="fas  {{ item.btnicon }}"></i>
              </span>
              <span>{{ item.btntitle }}</span>
            </a>
          </div>
        </div>
      </div>

    </div>
