
                    <div class="card has-background-primary-light my-4">
                      <div class="card-content">
                      
                        <p>
                          {% if item.comment.length %}
                          <span class="font-bold has-text-primary is-size-5">“</span>
                          {{ item.comment | safe }}
                          <span class="font-bold has-text-primary is-size-5">”</span>
                          {% else %}{% endif %}
                      </p>
                        <div class="rating">
                            {# Rating display: Loop of item.range stars #}
                                {# Switch case for Star reviews conversion #}
                                  {% switch item.starRating %}
                                    {% case 'FIVE' %}
                                        {% set stars = "5" %}
                                    {% case 'FOUR' %}
                                        {% set stars = "4" %}
                                    {% case 'THREE' %}
                                        {% set stars = "3" %}
                                    {% case 'TWO' %}
                                        {% set stars = "2" %}
                                    {% case 'ONE' %}
                                        {% set stars = "1" %}
                                  {% endswitch %}
                              {% for j in range(0, stars) %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                              {% endfor %}
                              
                        </div>
                          <div class="is-flex is-align-items-center is-justify-content-start mt-4">
                              <a href="#" class="image is-48x48">
                                  {# Author picture #}
                                  <img alt="profil" src="{{ item.reviewer.profilePhotoUrl }}" class="is-rounded"/>
                              </a>
                              <div class="is-flex is-flex-direction-column ml-2 is-align-content-space-between">
                                  <span class="font-semibold has-text-weight-bold">
                                    {# Author Name #}
                                    {{ item.reviewer.displayName }}
                                  </span>
                                  <span class="is-size-7 is-flex is-align-items-center">
                                    {# Author Job 
                                    {{ item.author_job }}
                                    #}
                                  </span>
                              </div>
                          </div>

                      </div>
                    </div>
 

