
                  <div class="column">
                    <div class="card equal-height">
                      <div class="card-content">
                      
                        <p>
                          <span class="font-bold has-text-primary is-size-5">
                              “
                          </span>
                          {# Review text#}
                          {{ item.text | truncate(180, true) }}
                          <span class="font-bold has-text-primary is-size-5">
                              ”
                          </span>
                      </p>
                        <div class="rating">
                            {# Rating display: Loop of item.range stars #}
                              {% for j in range(0, item.rating) %}
                                <i class="fa fa-star" aria-hidden="true"></i>
                              {% endfor %}
                        </div>
                          <div class="is-flex is-align-items-center is-justify-content-start mt-4">
                              <a href="#" class="image is-48x48">
                                  {# Author picture #}
                                  <img alt="profil" src="{{ item.profile_photo_url }}" class="is-rounded"/>
                              </a>
                              <div class="is-flex is-flex-direction-column ml-2 is-align-content-space-between">
                                  <span class="font-semibold has-text-weight-bold">
                                    {# Author Name #}
                                    {{ item.author_name }}
                                  </span>
                                  <span class="is-size-7 is-flex is-align-items-center">
                                    {# Author Job #}
                                    {{ item.author_job }}
                                  </span>
                              </div>
                          </div>

                      </div>
                    </div>
                </div>
                  

